body{
    background-color: #faf0e6;/*linen*/
    font-family: Arial,Helvetica,sans-serif;
    font-size: 22px;
}

h1 {
    text-align:center;
    background-color:rgb(255,91,71);
    color: #FFFFFF; /*withe*/
    border-style: solid ;
    border-radius: 16px;
    border-width:3px;
    border-color: hsl(136, 100%, 17%);
}

a {
    color:green;
}